run = "cowsay Configure me!"
entrypoint = "README.md"
modules = ["nodejs-20"]

[nix]
channel = "stable-24_11"
packages = ["cowsay", "wasmer"]

[agent]
expertMode = true

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Koyeb App Server"

[[workflows.workflow]]
name = "Koyeb App Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd app && npm install && node src/index.js"
waitForPort = 5000

[deployment]
deploymentTarget = "autoscale"
run = ["node", "Scramjet-App/src/index.js"]
